* {
	box-sizing: border-box;
}

body	{
	direction: rtl;
	width: 70%;
	margin: 0 auto;
	font-size: 87.5%;
	font-family: arial;
	line-height: 1.5;
	text-align:right;
	background-color: blue;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}